@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

button,input,textarea,select {
    border:none;
    outline: none;
}

ul,ol {
    list-style-type: none;
}

a{
    text-decoration: nonew;
}


.container {
    max-width: 1000%;
    width: 100%;
    margin: 0 auto;
}