:root {
    --white: #ffffff;
  
    --black: #000000;
  
    --blue_900: #012959;
  
    --red_100: #fa748f;
    --red_900: #ff2c55;
    --red_hover: #ff2c5634;
  
    --grey_100: #e6e6e6;
    --grey_200: rgba(26, 26, 26, 0.4);
    --grey_300: #b3b3b3;
    --grey_800: #2c2c2c;
    --grey_900: #1a1a1a;
  }
  